<% const nombreUsuario = nombre;%>
<%- include('menuProfesor', {username: nombreUsuario})%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
</head>
<body>
<table>
    <tr>
        <th>nombre</th>
        <th>correo electronico</th>
        <th>acciones</th>
    </tr>
    <%arrayNotas.forEach((notas)=>{%>
    <tr>
        <td><%=notas.usuarioId.nombre%></td>
        <td><%=notas.usuarioId.email%></td>
        <td>
            <form action="/proyecto/calificar" method="post">
                <input type="hidden" name="idNota" value="<%=notas.idNotas%>"/>
                <input type="hidden" name="idCurso" value="<%=notas.cursoId.idCurso%>"/>
                <input type="number" name="calificaciones" value="<%=notas.calificaciones%>"/>
                <input type="text" name="observaciones" placeholder="observacion" value="<%=notas.observaciones%>"/>
                <button>calificar</button>
            </form>
        </td>
    </tr>
    <%})%>
</table>
</body>
</html>