<% const nombreUsuario = nombre;%>
<% const idUsuario = id;%>
<%- include('menu', {username: nombreUsuario})%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
</head>
<body>
<table>
    <tr>
        <th>curso</th>
        <th>fecha inicio</th>
        <th>fecha fin</th>
        <th>materia</th>
        <th>accion</th>
    </tr>
    <%arrayCurso.forEach((curso)=>{%>
    <tr>
        <td><%=curso.nombreCurso%></td>
        <td><%=curso.fechaInicio%></td>
        <td><%=curso.fechaFin%></td>
        <td><%=curso.materiaId.nombreMateria%></td>
        <td>
            <form action="/proyecto/verCursoEstudiante" method="post">
                <input type="hidden" name="cursoId" value="<%=curso.idCurso%>"/>
                <input type="hidden" name="usuarioId" value="<%=idUsuario%>"/>
                <button>registrarse</button>
            </form>
        </td>
    </tr>
    <%})%>
</table>
</body>
</html>